@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-blue: #0697F2;
    --secondary-orange: #F15E22;
    --secondary-pink: #D98A6B;
    --secondary-yellow: #F6D36B;
    --dark-blue: #01243A;
    --light-tan: #F0E6CB;
    --less-dark-blue: #004D7D;
}

.navigation {
    display: flex;
    background: var(--primary-blue);
    color: white;
    justify-content: space-between;
}

ul {
    display: flex;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: 'jost', sans-serif;
    font-weight: 500;
  }

.navigation h1 {
    font-family: 'jost', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.waystohelp h1 {
    font-family: 'jost', sans-serif;
    font-weight: bold;
    font-size: 36px;
    padding-left: 3em;
}

.herosection {
    background: url(./hero.png);
    background-size: cover;
    height: 90vh;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-tan);
    padding: 4em;
    color: white;
}

.center-container h1 {
    font-family: 'jost', sans-serif;
    font-weight: bold;
    font-size: 36px; 
}

.center-container p {
    font-family: 'jost', sans-serif;
}

.card1 {
    background-color: var(--primary-blue);
    width: 70%;
    border-radius: 25px;
    padding: 2em;
}

.right-col h1 {
    font-family: 'jost', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.right-col p {
    font-family: 'jost', sans-serif;
    margin-right: 2em;
}

.left-col h1 {
    font-family: 'jost', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.left-col p {
    font-family: 'jost', sans-serif;
}

.pink-background {
    background-color: var(--secondary-pink);
}

.blue-background {
background-color: var(--less-dark-blue);
color: white;
}

.two-col-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}



.right-col {
    background-color: #D98A6B;
    color: white;
}

.homelessness {
    display: flex;
    background-color: var(--secondary-yellow);
    color:#01243A;
}

.helpsection {
    background-color: var(--light-tan);
    color: white;
}

.waystohelp {
    color:#01243A;
}

.h1-waystohelp {
    text-align: center;
    color: var(--secondary-orange);
    padding-top: 2em;
    padding-bottom: 2em;
}
.two-col-container h1{
     font-family: 'jost', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.left-col-solutions {
    padding: 4em;
}

.two-col-container h2{
    font-family: 'jost', sans-serif;
   font-weight: bold;
   font-size: 24px;
}

.two-col-container p{
    font-family: 'jost', sans-serif;
}

button {
        padding: 8px 15px;
        margin: 20px;
        border-radius: 30px;
        background: #0697F2;
        text-transform: uppercase;
        color: white;
        border: none;
}

.footer {
          background: var(--primary-blue);
          display: flex;
      }
